@font-face {
    font-family: 'pokemon_gbregular';
    src: url('/CustomFont/pokemon_gb-webfont.woff2') format('woff2'),
         url('CustomFont/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.card {
    margin: 1mm;
    width: 1in;
    height: 1in;
    border-style: solid;
    border-color: black;
    background-color: none;
    border-radius: 50%;
    box-sizing: border-box;
    border-width: 10px;
    position: relative;
}

.plate-token{
    text-align: center;
    margin-top: 0.3in;
    font-size: 6px;
    font-family: 'pokemon_gbregular';
}

#circle {
    position: absolute;
    background-color: black;
    width: 1in;
    height: 1in;
    border-color: black;
    border-width: 3px;
}