<!doctype html>
<html>
   
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="plate-cards.css">
</head>

<body>
    <div class="card">
        <div class="pokeball"></div>
        <div class="name">
            {{name}}
            <br>
        </div>
        <div class="cost">
            <em>Plate</em>
            <br>
            Cost: {{cost}}
        </div>
        <br>
        <div class="effect">

            <b><em>Effect:</em></b> {{effect}}
        </div>
    </div>
</body>

</html>