<!doctype html>
<html>
   
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="card.css">
</head>

<body>
    <div class="card">
        <!-- YOUR CUSTOM CODE STARTS HERE -->
        <div class="zmove"></div>
        <div class="name">
            {{Name}}
        </div>
        <br>
        <div class=zmovetext>
        <em>Z-Move</em>
        <br>
        </div>
        <div class="cost">
            <b>Users:</b> {{Type/Figs}} 
            <br>
            <b>Color:</b> {{Color}}
        </div>
        <br>
        <br>
        <div class="effect">
            <b><em>Effect:</em></b> {{Effect}}
        </div>
        <!-- YOUR CUSTOM CODE ENDS HERE -->
    </div>
</body>

</html>